@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 51, 48);
}

header {
  width: 70%;
  height: 80%;
  background: #161616;
  box-shadow: 0px 40px 20px -20px rgba(164, 156, 156, 0.5);
  overflow: hidden;
  padding: 10px 50px;
  border-radius: 10px;
}
header nav {
  position: relative;
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  width: 90px;
  cursor: pointer;
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header nav ul li {
  padding: 3px 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
  transition: 0.3s linear;
}

header nav ul li a:hover {
  color: #000;
  background: #fff;
  border-radius: 120px;
}

header nav .bi-list {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

section {
  width: 100%;
  height: 82%;
  /* border: 1px solid #fff; */
  display: flex;
}

section .content,
.img_co {
  width: 50%;
  height: 100%;
  /* border: 1px solid #fff; */
}

section .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section .content .cont {
  /* border: 1px solid #fff; */
  margin-left: 20%;
}

section .content .cont h1 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
}

section .content .cont p {
  width: 250px;
  color: rgb(255, 255, 255, 0.8);
  margin-top: 10px;
  word-break: break-all;
  font-size: 10px;
}
section .content .cont button {
  color: #85480f;
  background: linear-gradient(150deg, #cf8f35, #fff4ca, #85480f);
  font-weight: 900;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  text-shadow: 2px 2px rgb(133, 72, 15, 0.2);
  display: flex;
  align-items: center;
  transition: 0.3s linear;
  cursor: pointer;
  border: none;
  outline: none;
}

section .content .cont button:hover {
  background: linear-gradient(150deg, #85480f, #fff4ca, #cf8f35);
}

section .content .cont button img {
  width: 50px;
  border-radius: 5px;
  margin-left: 3px;
  filter: drop-shadow(2px 0px 0px rgb(133, 75, 15, 0.5));
}

section .imgg img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 40px 20px -20px rgba(15, 15, 15, 0.5);
  margin-top: 10px;
}

header footer {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #fff; */
}

header footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header footer ul li {
  padding: 3px 10px;
}

header footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
  transition: 0.3s linear;
}
header footer ul li a .bi {
  margin-right: 5px;
}

header footer ul li a:hover {
  color: #000;
  background: #fff;
  border-radius: 20px;
}

header footer .vf {
  display: flex;
  align-items: center;
}

header footer .vf p {
  color: #fff4ca;
  font-size: 10px;
  margin-right: 5px;
}
header footer .vf img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-left: 5px;
}
